.box {
    width: 500px;
    height: 500px;
    background-color:#F0F0F0;
    margin: 0 auto;
    margin-left:200px;
    margin-top: 0px;
    display: flex;
    justify-content: left;
    align-items: left;
    font-size: 24px;
}
h1{
    margin-left:200px;
    margin-top: 0px;
    
}
h3{
                margin-left:200px;
    margin-top: 100px;
    
}
p{   ;
    margin-top: 100px;
    text-align:center;

}
.box {
    width: 400px;
    height: 450px;
    background-color:#F0F0F0;
    margin: 0 auto;
    margin-left:200px;
    margin-top: 0px;
    display: flex;
    justify-content: left;
    align-items: left;
    font-size: 24px;
}
h1{
    margin-left:200px;
    margin-top: 0px;
    
}
h3{
     margin-left:200px;
    margin-top: 100px;
    color:linear-gradient( #0099ff 0%, #66ccff 98%);
    
}
    
.logo {
position: absolute;
top: 220px;
left: 250px;
padding: 10px;
}

.logo img {
max-width: 10%;
max-height: 10%;
}

.content {
position: absolute;
margin-top:100px;
bottom: 44%;
left: 14%;
right: 90;
padding: 20px;
text-align: center;
color: #000000;
display: flex;
align-items: center;
justify-content: center;
}

.content h2 {
font-weight: bold;
font-size: 18px;
margin-bottom:12px;
}

.rating {
margin-left: 70px;
padding: 0;
font-size: 20px;
}


.star {
color: gold;
}
.container {
    position: relative;
  }
  
  .image {
    width: 500x;
    height: 490px;
    position: absolute;
    margin-right: 300px;
    margin-top: 230px;
    top: 100%;
    right: 0;
    transform: translateY(-50%);
  }
  
  .triangle {
    margin-right: 300px;
    width: 120px;
    height: 120px;
    position: absolute;
    top: 45%;
    left: 35%;
    clip: rect(auto, 180px, auto, 100px);
    transform: rotate(0deg);
    transition: bottom 0.3s ease-out, transform 0.3s ease-out;
  }
  .triangle:hover {
    bottom: 0;
    transform: translate(20%, 0%);
  }
  
  .triangle::after {
    content: "";
    position: absolute;
    top: 10px;
    bottom: 10px;
    left: 10px;
    right: 10px;
    background: #009FFD;
    transform: rotate(-45deg);
  }
  .triangle1 {
    margin-right: 300px;
    width: 120px;
    height: 120px;
    position: absolute;
    top: 45%;
    left: 12%;
    clip: rect(auto, 180px, auto, 100px);
    transform: rotate(-180deg);
    transition: bottom 0.3s ease-out, transform 0.3s ease-out;

  }



  
  .triangle1::after {
    content: "";
    position: absolute;
    top: 10px;
    bottom: 10px;
    left: 10px;
    right: 10px;
    background: #009FFD;
    transform: rotate(-45deg);

  }

  p {
    color:rgb(92, 186, 223);
    font-weight: 100;
	font-size: 20px;
	margin-top: 180px;
  margin-right: 030px;
}


.swa{
    width: 50px;
    margin-left: 00px;
}
.logo2{
  display: none;
}
